@model IEnumerable<EventManager.Event>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.logoPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.zip)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.logoPath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.Location.address)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Location.city)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Location.state)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Location.zip)
        </th>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.event_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.event_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.event_ID })
        </td>
    </tr>
}

</table>
